<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.do</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <javaee:param-name>contextConfigLocation</javaee:param-name>
    <javaee:param-value>
			/WEB-INF/spring-context.xml
			/WEB-INF/spring-trigger-jk.xml
		</javaee:param-value>
  </context-param>
 	<listener>
		<listener-class>
			com.huacai.web.filters.InitConfig
		</listener-class>
	</listener>
  <listener>
    <javaee:listener-class>
			org.springframework.web.context.ContextLoaderListener
		</javaee:listener-class>
  </listener>
  <listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <javaee:param-name>encoding</javaee:param-name>
      <javaee:param-value>UTF-8</javaee:param-value>
    </init-param>
    <init-param>
      <javaee:param-name>forceEncoding</javaee:param-name>
      <javaee:param-value>true</javaee:param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>